.records {
  position: fixed;
  top: calc((100% - 750px) / 2);
  right: calc((100% - 900px) / 2);
  width: 900px;
  height: 750px;
  font-size: 2.65rem;
  font-family: 'Pacifico', 'Open Sans', cursive;
  text-align: center;
  color: #254041;
  background: url('./img/modal-background.png') no-repeat;
  background-size: 900px 750px;
}

.records table {
  position: relative;
  top: 5.5rem;
  width: 720px;
  height: 550px;
  overflow-y: scroll;
  border-collapse: collapse;
}

.records button {
  position: fixed;
  right: calc((100% - 200px) / 2);
  width: 200px;
  min-height: 100px;
  border: 0;
  margin-top: 470px;
  padding: 2px 45px;
  text-align: center;
  line-height: 1rem;
  font-family: 'Lobster', 'Open Sans', cursive;
  font-size: 1.75rem;
  background: url('./img/button.png') no-repeat;
  background-size: 200px 100px;
}

.records button:hover {
  filter: hue-rotate(90deg);
}

.records button:active {
  outline: none;
}

.records button:focus {
  outline: none;
}
