.defeat-modal {
  position: fixed;
  top: calc((100% - 600px) / 2);
  right: calc((100% - 600px) / 2);
  width: 600px;
  height: 600px;
  font-size: 2.65rem;
  font-family: 'Pacifico', 'Open Sans', cursive;
  text-align: center;
  color: #254041;
  background: url('./img/modal-background.png') no-repeat;
  background-size: 600px 600px;
}

.defeat-modal > p {
  position: relative;
  top: 5rem;
  width: 470px;
  height: 10rem;
  line-height: 3rem;
}

.defeat-modal button {
  position: relative;
  /* display: flex; */
  top: 4.5rem;
  width: 350px;
  min-height: 130px;
  border: 0;
  padding: 2px 63px;
  text-align: center;
  line-height: 1rem;
  font-family: 'Lobster', 'Open Sans', cursive;
  font-size: 1.75rem;
  background: url('./img/button.png') no-repeat;
  background-size: 350px 130px;
}

.defeat-modal button:hover {
  filter: hue-rotate(90deg);
}

.defeat-modal button:active {
  /* position: relative;
  bottom: -4px;
  margin-bottom: 22px; */
  outline: none;
}

.defeat-modal button:focus {
  outline: none;
}
